---
import Layout from '../layouts/Layout.astro';
import RDV from '../components/RDV.astro';
---

<Layout title="Rendez vous avec Mélissa Scriva | Ostéopathe à Aix-En-Provence et à Marignane">
  <div class="pt-16">
    <RDV />
  </div>
</Layout>
